body {
    font-size: 1.45rem;
}
h1 {
    font-size: 3.5rem;
    margin-top: 0;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}

footer {
    font-size: 1.2rem;
}

#breadcrumb {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 6px;
}

#breadcrumb li {
    white-space: nowrap;
    display: inline;
    font-size: 1.2rem;
}


.imagewithcaption {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 21px;
}

.imagewithcaption img {
    margin-bottom: 3px;
    width: 100%;
    display: block;
}

.footnote {
    font-size: 1.2rem;
}

.info {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #f5f7f9;
    border-left-color: #3884ff;
}
.info:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border-color: #3884ff;
    color: #3884ff;
    content: "i";
    line-height: 26px;
}

.warning {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #fffef6;
    border-left-color: #ffc838;
}
.warning:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border-color: #ffc838;
    color: #ffc838;
    content: "!";
    line-height: 26px;
}

.danger {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #da302b;
    border-left-color: #ff0700;
    color: #ffffff;
    font-weight: bold;
}
.danger:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border-color: #ffffff;
    color: #ffffff;
    content: "!!";
    line-height: 26px;
}

.tip {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #f5f7f9;
    border-left-color: #5cb85c;
}
.tip:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border: none;
    color: #5cb85c;
    content: "Tip";
}

.youtube {
    display: block;
    width: 100%;
    margin: 32px 0px;
    padding: 24px 24px 24px 50px;
    border-left: 4px solid;
    border-radius: 3px;
    background-color: #f5f7f9;
    border-left-color: #5cb85c;
}
.youtube:before {
    border-radius: 50%;
    margin-left: -40px;
    margin-top: -4px;
    float: left;
    text-align: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid;
    border: none;
    color: #5cb85c;
    content: url(https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg);
}

.dataTables_filter label {
    float: right;
}

.transparent {
    background-color: lightgray !important;
}

.white {
    background-color: white !important;
}

.green {
    background-color: green !important;
}

.orange {
    background-color: orange !important;
}

.yellow {
    background-color: yellow !important;
}

.red {
    background-color: red !important;
}

.purple {
    background-color: purple !important;
}

.trtrenner {
    background-color: #f7c2c2 !important;
    border-bottom: gray solid 1px !important;
    padding-top: 15px !important;
    font-weight: bold;
}

@media print {
    body {
        padding: 0;
    }
    #breadcrumb {
        display: none !important;
    }
  }
