{% if page.meta.source %}
    <div class="source-links">
    {% for filename in page.meta.source %}
        <span class="label label-primary">{{ filename }}</span>
    {% endfor %}
    </div>
{% endif %}

<!-- BREAD CRUMBS -->
<ul id="breadcrumb">
    {% if page %}
        {% for doc in page.ancestors[::-1] %}
            {% if doc.link %}
                <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
            {% else %}
                <li>{{ doc.title }} &raquo;</li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

<h1>{{ page.title }}</h1>

<!-- Navigation for homepage only -->
{%- if nav|length>1 and page.is_homepage %}
    <ul>
    {%- for nav_item in nav %}
        {%- if nav_item.title != nav.homepage.title %}
            {%- if nav_item.children %}
                <li>
                    <a aria-controls="collapse_{{ nav_item.title }}" href="#collapse_{{ nav_item.title }}" data-toggle="collapse" role="button" aria-expanded="false">{{ nav_item.title }}</a>
                    <ul id="collapse_{{ nav_item.title }}" class="collapse in">
                    {%- for nav_item in nav_item.children %}
                        {% include "index-sub.html" %}
                    {%- endfor %}
                    </ul>
                </li>
            {%- else %}
                <li>
                    <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                </li>
            {%- endif %}
        {%- endif %}
    {%- endfor %}
    </ul>
{%- endif %}

{{ page.content }}