{%- if not nav_item.children %}
    <li>
        <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
    </li>
{%- else %}
  <li>
    <a aria-controls="collapse_{{ nav_item.title }}" href="#collapse_{{ nav_item.title }}" data-toggle="collapse" role="button" aria-expanded="false">{{ nav_item.title }}</a>
    <ul id="collapse_{{ nav_item.title }}" class="collapse">
        {%- for nav_item in nav_item.children %}
            {% include "index-sub.html" %}
        {%- endfor %}
    </ul>
  </li>
{%- endif %}