{% extends "main.html" %}

{% block styles %}
    {{ super() }}
    <style>
        h2   {
            text-align: center;
            margin-top: 0;
            margin-right: 4rem;
            margin-left: 4px;
            font-weight: bold;
            float: left;
        }
        h3 {
            margin-top: 1px;
            font-size: 160%;
            font-weight: bold;
        }
        .subABCDE {
            display: block;
        }
        .subABCDE ul {
            list-style-type: none;
            display: table;
            text-indent: -2.5em;
        }
        .subABCDE ul li {
            margin-bottom: 0.1rem;
        }
        .subABCDE ul ul {
            list-style-type: disc;
            text-indent: 0;
            padding: 0;
        }
        .ABCDE {
            padding: 5px;
            margin-bottom: 2rem;
            border-width: 2px;
            border-style: solid;
        }
        .A {
            border-color: lightblue;
        }
        .B {
            border-color: lightblue;
        }
        .C {
            border-color: red;
        }
        .D {
            border-color: yellow;
        }
        .E {
            border-color: green;
        }
        .S {
            border-color: rebeccapurple;
        }
        .SSS {
            border-color: orange;
        }
        .GI {
            border-color: orange;
        }
        @media print {
            .ABCDE {page-break-inside: avoid;}
        }
    </style>
{% endblock styles %}

{% block scripts %}
    {{ super() }}
    <script>
        window.onload = function () {
            $( document ).ready(function() {
                $("h2#3s").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE SSS' />");
                $("h2#3s").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#gi").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE GI' />");
                $("h2#gi").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#a").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE A' />");
                $("h2#a").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#b").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE B' />");
                $("h2#b").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#c").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE C' />");
                $("h2#c").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#d").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE D' />");
                $("h2#d").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#e").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE E' />");
                $("h2#e").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#_1").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE S' />");
                $("h2#_1").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#e_1").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE E' />");
                $("h2#e_1").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
                $("h2#_2").next("h3").andSelf().next("ul").andSelf().wrapAll("<div class='ABCDE S' />");
                $("h2#_2").next("h3").next("ul").andSelf().wrapAll("<div class='subABCDE'></div>");
            });
        }
    </script>
{% endblock scripts %}
